@model Budgeteer.Models.HomepageViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <div id="dateDiv">
        <div id="dateFrequencyDiv" tabindex="1">
            <label id="lblDateFrequency">Monthly</label>
            <span class="arrow"></span>
        </div>
        <div id="monthDiv" tabindex="1">
            <label id="lblMonth">@DateTime.Now.ToString("MMMM", System.Globalization.CultureInfo.InvariantCulture)</label>
            <span class="arrow"></span>
        </div>
        <div id="yearDiv" tabindex="1">
            <label id="lblYear">@DateTime.Now.Year</label>
            <span class="arrow"></span>
        </div>
    </div>
    @RenderPage("~/Views/Shared/_UserData.cshtml", Model)
</div>
