@model Budgeteer.Models.HomepageViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <div id="dateDiv">
        <div id="dateFrequencyDiv">
            <label id="lblDateFrequency">Monthly</label>
            <span class="arrow"></span>
        </div>
        <div id="monthDiv">
            <label id="lblMonth">September</label>
            <span class="arrow"></span>
        </div>
        <div id="yearDiv">
            <label id="lblYear">2015</label>
            <span class="arrow"></span>
        </div>
    </div>
    @RenderPage("~/Views/Shared/_UserData.cshtml", Model)
</div>
