@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    @RenderPage("~/Views/Shared/_Income.cshtml")
    @RenderPage("~/Views/Shared/_Expense.cshtml")
</div>
