<div id="expense">
    <div id="expenseList">
        <div id="expenseDiv1" class="expenseEntry">
            <label id="expenseLabel1" class="expenseType">Click to edit</label><input id="expenseField1" class="expenseInput" type="text" value="Expense" />
            <div id="addExpenseDiv">
                <input type="button" id="addExpense" value="Add Expense" />
            </div>
        </div>
    </div>
</div>