<div id="expense">
    <div id="totalExpenseDiv">
        <label id="totalExpenseLabel">Total Expense:</label><label id="totalExpenseValue">$0</label>
    </div>
    <div id="addExpenseDiv">
        <input type="button" id="addExpense" value="Add Expense" />
    </div>
    <div id="expenseList">
        <label id="expenseLabel1" class="expenseType">Click to edit</label><input id="expenseField1" class="expenseInput" type="text" value="Expense" />
    </div>
</div>