<div id="income">
    <div id="incomeList">
        <div id="incomeDiv1" class="incomeEntry">
            <label id="incomeLabel1" class="incomeType">Click to edit</label><input id="incomeField1" class="incomeInput" type="text" value="Income" />
            <div id="addIncomeDiv">
                <input type="button" id="addIncome" value="Add Income" />
            </div>
        </div>
    </div>
</div>
