<div id="income">
    <div id="totalIncomeDiv">
        <label id="totalIncomeLabel">Total Income:</label><label id="totalIncomeValue">$0</label>
    </div>
    <div id="addIncomeDiv">
        <input type="button" id="addIncome" value="Add Income" />
    </div>
    <div id="incomeList">
        <div id="incomeDiv1" class="incomeEntry">
            <label id="incomeLabel1" class="incomeType">Click to edit</label><input id="incomeField1" class="incomeInput" type="text" value="Income" />
        </div>
    </div>
</div>
