<div id="income">
    <div id="incomeList">
        @if (PageData["Entries"] == null)
        {
            <div id="addIncomeDiv">
                <input type="button" id="addIncome" value="Add Income" />
            </div>
            <div id="incomeDiv1" class="incomeEntry">
                <label id="incomeLabel1" class="incomeType">Click to edit</label><input id="incomeField1" class="incomeInput" type="text" value="Income" />
            </div>
        }
        else
        {
            foreach (Budgeteer.Models.Entry entry in PageData["Entries"].Entries)
            {
                if (!entry.Type.Equals(Budgeteer.Utilities.Enums.EntryType.Income)) { continue; }
                <div id="addIncomeDiv">
                    <input type="button" id="addIncome" value="Add Income" />
                </div>
                <div id="incomeDiv1" class="incomeEntry">
                    <label id="incomeLabel1" class="incomeType">@entry.Name</label><input id="incomeField1" class="incomeInput" type="text" value="@entry.Value" />
                </div>
            }
        }
    </div>
</div>
