@model Budgeteer.Models.HomepageViewModel


<div id="totalDiv">
    <div id="savingsDiv">
        <label id="savingsValue">$0</label><label id="savingsLabel"> savings</label>
    </div>
    <div id="totalIncomeDiv">
        <label id="totalIncomeValue">$0</label><label id="totalIncomeLabel"> income</label>
    </div>
    <div id="totalExpenseDiv">
        <label id="totalExpenseValue">$0</label><label id="totalExpenseLabel"> expense</label>
    </div>
</div>
@RenderPage("~/Views/Shared/_Income.cshtml", new { Entries = Model ?? null })
@RenderPage("~/Views/Shared/_Expense.cshtml", new { Entries = Model ?? null })

