@model Budgeteer.Models.YearlyUserDataViewModel

<div id="headerStripDiv">
    <div id="headerYearDiv">
        @*<label id="lblHeaderYear">Year</label>*@
    </div>
    <div id="headerTotalDiv">
        <label id="lblHeaderTotal">Savings</label>
    </div>
    <div id="headerIncomeDiv">
        <label id="lblHeaderIncome">Income</label>
    </div>
    <div id="headerExpenseDiv">
        <label id="lblHeaderExpense">Expense</label>
    </div>
</div>
@{
    foreach (var entry in Model.Entries)
    {
        <div class="yearlyRowDiv">
            <div class="yearlyYearColDiv"><label class="lblYearlyYear">@entry.Item1</label></div>
            <div class="yearlyTotalColDiv"><label class="lblYearlyTotal">$@entry.Item2</label></div>
            <div class="yearlyIncomeColDiv"><label class="lblYearlyIncome">$@entry.Item3</label></div>
            <div class="yearlyExpenseColDiv"><label class="lblYearlyExpense">$@entry.Item4</label></div>
        </div>
    }
}
