#expense{
    float: left;
    width: 500px;
    height: inherit;
    background-color: #ffd800;
}

#addExpenseDiv{
    width: 100px;
    height: 50px;
    background-color: #00ff21;
    float: right;
}

#expenseList{
    width: inherit;
    height: 675px;
    overflow: auto;
    padding-bottom: 25px;
}

#listSuggestionExpense{
    position: absolute;
    width: 150px;
    margin: 0px;
    padding: 0px;
    padding-left: 5px;
    padding-top: 3px;
    list-style-type: none;
    background-color: white;
    z-index: 999;
}

.expenseEntry{
    width: inherit;
    height: 50px;
    background-color: #808080;
}

.wordsExpense{
    width: 150px;
}

.wordsExpense:hover{
    background-color: #85ceff;
}

.expenseInput{
    margin-left: 5px;
    margin-top: 10px;
    height: 25px;
    width: 100px;
}