#content {
    width: 1000px;
    height: 750px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

#totalDiv {
    width: 850px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

#totalIncomeDiv{
    width: 250px;
    height: 50px;
    line-height: 50px;
    float: left;
}

#totalIncomeLabel{
    font-size: 20px;
    color: #bdbcbc;
    margin-left: 10px;
    font-family: 'Segoe UI';
}

#totalIncomeValue{
    font-size: 25px;
    color: #37ad15;
    font-family: 'Segoe UI';
}

#totalExpenseDiv{
    width: 250px;
    height: 50px;
    line-height: 50px;
    float: left;
}

#totalExpenseLabel{
    font-size: 20px;
    color: #bdbcbc;
    margin-left: 10px;
    font-family: 'Segoe UI';
}

#totalExpenseValue{
    font-size: 25px;
    color: red;
    font-family: 'Segoe UI';
}

#savingsDiv {
    height: 50px;
    line-height: 50px;
    width: 350px;
    background-color: #ffffff;
    float: left;
}

#savingsLabel{
    font-size: 20px;
    color: #bdbcbc;
    margin-left: 10px;
    font-family: 'Segoe UI';
}

#savingsValue{
    font-size: 30px;
    font-family: 'Segoe UI';
}

#dateDiv{
    clear: both;
    background-color: lightblue;
    height: 40px;
    width: inherit;
}

#dateFrequencyDiv{
    height: inherit;
    width: 200px;
    float: left;
    background-color: aqua;
}

#monthDiv{
    height: inherit;
    width: 300px;
    float: left;
    background-color: lightgreen;
}

#yearDiv{
    height: inherit;
    width: 300px;
    float: left;
    background-color: lightgray;
}

.monthListDiv{
    width: 150px;
    height: 200px;
    background: white;
    z-index: 9999;
    position: relative;
    top: 20px;
}