#content {
    width: 1000px;
    height: 750px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

#userDataDiv{
    height: 750px;
}

#totalDiv {
    width: 850px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

#totalIncomeDiv{
    width: 250px;
    height: 50px;
    line-height: 50px;
    float: left;
}

#totalIncomeLabel{
    font-size: 20px;
    color: #bdbcbc;
    margin-left: 10px;
    font-family: 'Segoe UI';
}

#totalIncomeValue{
    font-size: 25px;
    color: #37ad15;
    font-family: 'Segoe UI';
}

#totalExpenseDiv{
    width: 250px;
    height: 50px;
    line-height: 50px;
    float: left;
}

#totalExpenseLabel{
    font-size: 20px;
    color: #bdbcbc;
    margin-left: 10px;
    font-family: 'Segoe UI';
}

#totalExpenseValue{
    font-size: 25px;
    color: red;
    font-family: 'Segoe UI';
}

#savingsDiv {
    height: 50px;
    line-height: 50px;
    width: 350px;
    background-color: #ffffff;
    float: left;
}

#savingsLabel{
    font-size: 20px;
    color: #bdbcbc;
    margin-left: 10px;
    font-family: 'Segoe UI';
}

#savingsValue{
    font-size: 30px;
    font-family: 'Segoe UI';
}

#dateDiv{
    clear: both;
    height: 40px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

#dateFrequencyDiv{
    height: inherit;
    width: 100px;
    float: left;
    text-align: center;
    color: #909090;
}

#monthDiv{
    height: inherit;
    width: 150px;
    float: left;
    text-align: center;
    color: #909090;
    outline: none;
}

#yearDiv{
    height: inherit;
    width: 100px;
    float: left;
    text-align: center;
    color: #909090;
    outline: none;
}

#lblMonth{
    line-height: 40px;
    font-size: 15px;
    font-family: 'Segoe UI';
}

#lblYear{
    line-height: 40px;
    font-size: 15px;
    font-family: 'Segoe UI';
}

 #lblDateFrequency{
    line-height: 40px;
    font-size: 15px;
    font-family: 'Segoe UI';
}

.arrow{
     border-color: #909090 transparent;
     border-style: solid;
     border-width: 4px 4px 0 4px;
     width: 0;
     height: 3px;
     vertical-align: bottom;
     line-height: 17px;
     margin-left: 5px;
 }

.monthListDiv{
    width: 150px;
    height: 320px;
    background: white;
    z-index: 20;
    position: relative;
    border-style: solid;
    border-width: thin;
    border-color: #bdbcbc;
    margin: 0;
    padding: 0;
}

.monthList{
    margin: 0px;
    padding-left: 0;
    padding-top: 10px;
    text-align: left;
}

.monthItem{
    list-style-type: none;
    width: 120px;
    margin: 0;
    padding-left: 30px;
    padding-bottom: 5px;
    color: #808080;
    font-size: 15px;
    font-family: 'Segoe UI';
}

.monthItem:hover{
    width: 120px;
    margin: 0;
    padding-left: 30px;
    padding-bottom: 5px;
    color: #808080;
    font-size: 15px;
    font-family: 'Segoe UI';
    background-color: #e2e2e2;
}

.monthItemSelected{
    width: 120px;
    margin: 0;
    margin-left: 30px;
    padding-bottom: 5px;
    color: #808080;
    font-size: 15px;
    font-family: 'Segoe UI';
    list-style-type: disc;
}

.yearListDiv{
    width: 100px;
    height: 270px;
    background: white;
    z-index: 20;
    position: relative;
    border-style: solid;
    border-width: thin;
    border-color: #bdbcbc;
    margin: 0;
    padding: 0;
}

.yearList{
    margin: 0px;
    padding-left: 0;
    padding-top: 10px;
    text-align: left;
}

.yearItem{
    list-style-type: none;
    width: 100px;
    margin: 0;
    padding-left: 30px;
    padding-bottom: 5px;
    color: #808080;
    font-size: 15px;
    font-family: 'Segoe UI';
}

.yearItem:hover{
    width: 70px;
    margin: 0;
    padding-left: 30px;
    padding-bottom: 5px;
    color: #808080;
    font-size: 15px;
    font-family: 'Segoe UI';
    background-color: #e2e2e2;
}

.yearItemSelected{
    width: 70px;
    margin: 0;
    margin-left: 30px;
    padding-bottom: 5px;
    color: #808080;
    font-size: 15px;
    font-family: 'Segoe UI';
    list-style-type: disc;
}